<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header py-3">
        <span class="h4">{{ card_header_text }}</span>
      </div>
      <div class="card-body">

        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors() %}
            <div class="alert alert-danger">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endif %}

        {% if form.instance.id %}
          <form method="post" action="{{ url(form_action_url, post_id=form.instance.id) }}">
        {% else %}
          <form method="post" action="{{ url(form_action_url) }}">
        {% endif %}

        {% csrf_token %}

        {% for field in form %}
          <div class="form-group row my-3 p-3">
            <label for="{{ field.id_for_label }}" class="mb-1 px-0">
              {{ field.label }}
              {% if field.field.required %}
                <span class="required text-danger">*</span>
              {% endif %}
            </label>
            {{ field|add_class('form-control') }}
            {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
            {% endif %}
          </div>
        {% endfor %}

        <div class="mb-3 d-flex flex-column flex-sm-row justify-content-center">
          <button type="submit" class="btn btn-primary mb-1 mb-md-0">
            {{ button_submit_text }}
          </button>
          {% if pass_reset_url %}
            <a href="{{ url(pass_reset_url) }}" class="btn btn-link text-decoration-none">
              Forgot your password?
            </a>
          {% endif %}
        </div>
        </form>
      </div> <!-- card-body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->