{% extends 'base.html' %}

{% block title %}
  {{ group }} | YaTube
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1 class="mb-5">{{ group }}</h1>
      {% for post in current_page_posts %}
        <article>
          <div class="mb-3">
            <span class="h5">Post from:</span>
            <a href="{{ url('posts:user_profile', username=post.author) }}" class="text-decoration-none h5">
              {{ post.author.get_full_name() }}
            </a>
          </div>

          <div>
            <p class="ps-3">
              {{ post.text }}
              <br>
              <a href="{{ url('posts:post_detail', post_id=post.id) }}" class="text-decoration-none small">
                About the post...
              </a>
            </p>
          </div>

          <div class="small text-end text-muted">
            <p class="mb-0">{{ post.pub_date|date('H:m | d M Y') }}</p>
          </div>
        </article>

        {% if not loop.last %}
          <hr class="text-muted">
        {% endif %}
      {% endfor %}

      {% include 'posts/includes/paginator.html' %}
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
