{% extends 'base.html' %}

{% block title %}
  User profile: {{ current_user.get_full_name() }} | YaTube
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>Profile: {{ current_user.get_full_name() }}</h1>
      <h3 class="mb-5">Total posts: {{ current_user.posts.count() }}</h3>

      {% for post in current_page_posts %}
        <article>
          <div>
            <p class="ps-3">
              {{ post.text }}
            </p>

            <div class="d-flex gap-3">
              {% if post.group %}
                <div>
                  <span>Group:</span>
                  <a href="{{ url('posts:group_detail', slug=post.group.slug) }}"
                     class="text-decoration-none">
                    {{ post.group }}
                  </a>
                </div>
              {% endif %}

              <div>
                <a href="{{ url('posts:post_detail', post_id=post.id) }}" class="text-decoration-none">
                  About
                </a>
              </div>

              {% if post.author == user %}
                <div>
                  <a href="{{ url('posts:post_edit', post_id=post.id) }}" class="text-decoration-none">
                    Edit
                  </a>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="small text-end text-muted">
            <p class="mb-0">{{ post.pub_date|date('H:m | d M Y') }}</p>
          </div>
        </article>

        {% if not loop.last %}
          <hr class="text-muted">
        {% endif %}
      {% endfor %}

      {% include 'posts/includes/paginator.html' %}
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}
