{% extends 'base.html' %}

{% block title %}
  {{ title }} | YaTube
{% endblock %}

{% block content %}
  {% if validlink %}
    {% set card_header_text = 'Enter new password' %}
    {% set form_action_url = 'users:reset_confirm' %}
    {% set button_submit_text = 'Reset Password' %}

    {% include 'users/includes/auth_form_template.html' %}
  {% else %}
    {% set card_header_text = 'Error' %}
    {% set card_body_text = 'Sorry, the link that brought you to this page seems to be out of date or broken...' %}

    {% include 'users/includes/auth_report_template.html' %}
  {% endif %}
{% endblock %}
