{% extends "base.html" %}

{% block title %}
  Технологии | YaTube
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="mb-5">So here is what I am curious about and what I am asking</h1>
    <aside class="mb-5 mb-md-0 col-12 col-md-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          SQL
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-10">
      <p>[WIP]</p>
    </article>
  </div>
{% endblock %} 